body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #596c7e;
}

.calculadora {
    background-color: #34495e;
    padding: 20px;
    border-radius: 25px;
}

/*visor */
#visor {
    background-color: #ecf0f1;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    font-size: 24px;
    font-family: monospace;
}

/*botões em 4 colunas */
.teclado {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 5px;
}

button {
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
    transition: transform 2s ease;
    backface-visibility: hidden;
    transform-origin: center;
}

button:hover {
    transform: scale(1.1);
    background-color: #596c7e;
}

button:active {
    transform: scale(0.95);
}


.zero {
    grid-column: span 2; /* Ocupa 2 espaços de largura */
    border-radius: 35px; /* Ajuste para não ficar um círculo deformado */
}

.igual {
    background-color: #e67e22;
    grid-row: span 2; /* Ocupa 2 espaços de altura na direita */
    border-radius: 35px;
}